
.DS_Store
__pycache__/document.cpython-38.pyc
__pycache__/helper.cpython-38.pyc
notebook/.ipynb_checkpoints/04. Querying by Location and Dates-checkpoint.ipynb
notebook/.ipynb_checkpoints/05. Analyzing Impressions over Time-checkpoint.ipynb
__pycache__/airbnb.cpython-38.pyc
notebook/.ipynb_checkpoints/05. Analyzing Distribution over Time-checkpoint.ipynb
notebook/airbnb_boston.json
notebook/.ipynb_checkpoints/06. Export index data to a json file-checkpoint.ipynb
notebook/airbnb_geneva.json
notebook/airbnb_hong-kong.json
notebook/.ipynb_checkpoints/06. Dump Index Data to Json-checkpoint.ipynb
notebook/airbnb_hong-kong_0.json
notebook/airbnb_hong-kong_1.json
notebook/airbnb_hong-kong_2.json
notebook/airbnb_boston_0.json
notebook/airbnb_boston_1.json
notebook/airbnb_boston_2.json
notebook/airbnb_geneva_0.json
notebook/airbnb_geneva_1.json
notebook/airbnb_geneva_2.json
notebook/.ipynb_checkpoints/07. Simulate searches on Elastic App Search-checkpoint.ipynb
